html,
body {
  height: 100%;
  background-color: #05121b;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "sans serif";
}

.header {
  background-color: #ffffff;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arena {
  margin-left: 80px;
}

.links .home {
  color: #c45260;
}

.links a {
  list-style: none;

  color: #05121b;
  margin: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.night {
  margin-right: 80px;
}
.aboutus,
.second,
.rectangle {
  position: relative;
  background-color: #05121b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.second {
  justify-content: center;
}
.ARENA,
.mylord {
  color: #ffffff;
  padding-top: 100px;
  text-align: center;
  font-size: 80px;
  font-family: "Nunito", sans serif;
  font-weight: 900;
}

.mylord {
  margin-top: 0px;
  color: #e14e60;
}

.left-image {
  height: 586px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.star {
  position: absolute;
  right: 79.53px;
  margin-top: -250px;
}

.right-image {
  height: 572px;
  right: 0px;
  position: absolute;
  bottom: 0px;
}
.most {
  color: #ffffff;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.discover-more,
.app,
.four-items {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.app {
  margin-top: 111px;
}
.aboutus {
  margin-top: 140px;
}
.third {
  position: relative;
  background-color: #05121b;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  display: flex;
}
.arenamaster {
  margin: 42px 0px 16px 189px;
  font-size: 26px;
}
.third p {
  margin-left: 189px;
  font-size: 18px;
}
.twophone {
  position: absolute;
  width: 447.51px;
  height: 321px;
  right: 111.11px;
}
.foursoldiers {
  width: 445px;
  height: 251px;
  margin: 52px 89px 0px 174px;
}
.weare {
  display: flex;
  position: absolute;
  right: 214px;
  margin-top: 404px;
  font-size: 18px;
}

.item {
  width: 42px;
  height: 30px;
  object-fit: contain;
  gap: 345px;
}

.rect {
  position: absolute;
}
.items {
  justify-content: center;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 969px;
  height: 153px;
  background-size: cover;
  position: absolute;
  gap: 70px;
}
.rectangle {
  margin-top: 136px;
}

.item-text {
  font-size: 18px;
  color: white;
}
.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
